
/* feuille de style resto*/
body {
    background: rgb(173, 243, 225);
    font-family: 'Caveat Brush', cursive;
    font-size: 1em;
}
 /*id conteneur pour le contenu principal*/
#conteneur {
    background: url(../img/motif.jpg) no-repeat;
    background-size: cover;
    width: 1000px;
    margin: 0 auto;
}
/*le en tête*/
header {
    background: url(../img/planches.jpg) no-repeat;
    background-size: cover;
    /* background: url(../img/cerf.png) no-repeat;
    background-size: inherit;
    opacity: .5; */
    height: 500px;
}
.header {
    width: 100%;
}
.cerf {
    width: 200px;
    height: 200px;
    margin:0 auto;
}
h2 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;   
}
h1 {
    text-transform: uppercase;
    font-style: italic;
    font-size: 60px;
    font-weight: bold; 
    float: left;
    padding: 40px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
/* la navigation*/
nav {
    padding: 40px;
    height: 150px;
    float: right;
}
nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover {
    color: #000;
    background: rgb(129, 248, 218);
    opacity: 0.5;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #000;
    background: rgb(129, 248, 218);
    opacity: 0.5;
}
li {
     display: inline;
     padding: 40px;
}
li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* structure du contenu de la page*/
.display {
    display: inline-block;
}
p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}
.texte, .img, .texte1, .img1 {
    height: 500px;
    text-align: center;
}
.texte {
    width: 300px;
    float: left;
}
.img {
    width: 700px;
    float: right;
}
.img1 {
    height: 500px;
    float: left;
}
.texte1 {
    position: relative;
    width: 20%;
    float: right;
}
.graine {
    opacity: .6;
}
.oeuf {
}
/*le pied de page*/
footer {
    height: 100px;
}
footer h2 {
    font-family: 'Caveat Brush', cursive;
    text-align: left;
    padding: 20px;
    font-size: 50px;
    font-style: italic;
}
footer p {
    text-align: left;
}
.social {
    background-color: #fff;
    padding: 30px;
    float: right;
}
.clear {
    clear: both;
}


